@model IQueryable<JC_PARK.Domain.Entities.Evento>
<div class="row">
    <table id="tabelaDados" class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Nome do Evento")
                </th>
                <th>
                    @Html.DisplayName("Local")
                </th>
                <th>
                    @Html.DisplayName("Data Inicio")
                </th>
                <th>
                    @Html.DisplayName("Data Final")
                </th>
                <th>
                    @Html.DisplayName("Cidade")
                </th>
                <th>
                    @Html.DisplayName("Estado")
                </th>
                <th>
                    @Html.DisplayName("Valor do Pátio")
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Local)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFinal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorPatio)
                    </td>
                    <td class="mnutable">
                        <div class="btn-group">
                            <a href="@Url.Action("Edit", "Cadastro", new { id = @item.EventoId })" title="Editar @item.Nome" class="btn btn-default edit-btn"><i class="glyphicon glyphicon-folder-open"></i></a>
                            <button class="btn btn-default contatos-btn" data-id="@item.EventoId" data-nome="@item.Nome" title="Contatos do(a) @item.Nome">
                                <i class="glyphicon glyphicon-user"></i>
                            </button>
                            <button class="btn btn-default delete-btn" data-nome="@item.Nome" data-id="@item.EventoId" title="Excluir @item.Nome">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
