
@model JC_PARK.Domain.Entities.EventoUsuario
<!-- Modal -->
<div class="modal fade bs-modal-lg" id="contatosModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="contatoModalLabel">Lista de Contatos</h4>
            </div>
            <div class="modal-body text-center">
                <input type="hidden" />
                <div class="nome-empresa">
                    <p>Nome do evento: <span></span></p>
                </div>
                <div class="mnu-btn text-left hidden">
                    <button type="button" class="btn btn-default fa fa-plus" data-acao="add" title="Adicionar usuário nesse evento"></button>
                </div>
                <div class="dados-contato row hidden">
                    <div class="form-group">
                        <div class="col-sm-4">
                            @Html.Label("Usuário", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBox("UsuarioId", null, new { @class = "form-control", @data_bind = "value: UsuarioId" })
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Hora Entrada", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBox("HoraEntrada", null, new { @class = "form-control", @data_bind = "value: HoraEntrada" })
                        </div>
                        <div class="col-sm-3">
                            @Html.Label("Hora Saída", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBox("HoraSaida", null, new { @class = "form-control", @data_bind = "value: HoraSaida" })
                        </div>
                        <div class="col-sm-2">
                            @Html.Label("Contrato", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBox("TipoContrato", null, new { @class = "form-control", @data_bind = "value: TipoContrato" })
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <input type="text" class="form-control" id="nomeContato" placeholder="Nome">
                    </div>
                    <div class="col-xs-2">
                        <input type="tel" class="form-control" id="telefoneContato" placeholder="Telefone">
                    </div>
                    <div class="col-xs-2">
                        <input type="tel" class="form-control" id="celularContato" placeholder="Celular">
                    </div>
                    <div class="col-xs-3">
                        <input type="email" class="form-control" id="emailContato" placeholder="E-mail">
                    </div>
                    <div class="col-xs-1">
                        <button class="btn-success fa fa-check" id="salvarContato"></button>
                    </div>
                </div>
                <div class="hidden del-contato">
                    <p>Tem certeza que deseja excluir o usuário ''<span></span>'' ?</p>
                    <p>
                        <a class="btn btn-sm btn-danger" href="#" data-idcontato=""><i></i><span></span></a>
                        &nbsp;|&nbsp;
                        <a class="vorta" href="#">&laquo; Voltar</a>
                    </p>
                </div>
                <div class="relacao text-left"></div>
            </div>
            <div id="msgErroContato" class="alert alert-danger hide text-center"><small><span></span></small></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->