@model JC_PARK.Domain.Entities.Valores

@{
    ViewBag.Title = "Editar Valores";
}

@using (Html.BeginForm("Edit", "Valor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    @*<div class="well bs-component">*@
        <div class="form-horizontal">
            <fieldset>
                <legend>Editar Valores</legend>
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                @Html.HiddenFor(model => model.ValoresId)

                <div class="form-group">
                    @Html.LabelFor(model => model.EventoId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EventoId", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EventoId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TipoValorId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TipoValorId", null, String.Empty, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TipoValorId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ValorNormal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ValorNormal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ValorNormal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ValorEPorMinuto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ValorEPorMinuto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ValorEPorMinuto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ValorEPorHora, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ValorEPorHora, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ValorEPorHora, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary btn-sm">Salvar Registros</button>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Index")">Cancelar</a>
                    </div>
                </div>
            </fieldset>
        </div>
    @*</div>*@
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
